

main{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: block;
    justify-content: center;
    align-items: center;
}

.titulo img{
    width: 150px;
    padding-left: 100px;
    
}
  
  .titulo h1 {
    font-size: 20px;
    font-weight: bold;
    color: #E36414;
    text-align: center;
  }
  
  .form-container {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 150px;
    padding: 100px;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 120px;
    background-color: #0A1D37;
    border-radius: 10px;
    width: 350px;
    max-height: 450px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 25px 40px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;
  }

  .form-group i{
    padding-right: 5px;
  }

  .form-remember{
    display: flex;
    flex-direction: row;
    max-width: 350px;
  }
  .input-field {
    padding: 15px;
    width: 325px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 14px;
  }
  
  .btnIngresar {
    margin-top: 5px;
    padding: 12px 30px;
    background-color: #fff;
    color: #0A1D37;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.5s ease;
  }

  .form-container i{
    padding-left: 10px;
  }

  
  .btnIngresar:hover {
    background-color: #0A1D37;
    color: #fff;
    scale: 1.1;
    transition: 0.1 ease-in-out
  }
  
/*FOOTER*/
footer{
    height: 40px;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    padding-top: 15px;
    background-color: #0A1D37;
    color: white;
}

a {
    text-decoration: none; /* ❌ quita el subrayado */
}